<%= render :partial => 'spree/shared/nav_bar' %>



			<!-- Header Starts -->
			<header id="header" data-hook>
				<div class="group">
					<div class="row">
						<div class="col-md-2">
							<div class="logo">
                                <a id="textual" href="http://demo.yithemes.com/bazar" title="Bazar [SHOP]"><%= logo %></a>
                                <p id="tagline">Everymedia purification and cultivation, shop living.</p> 
							</div>
						</div>
						<div id="header-cart-search" class="pull-left">
                            <%= render :partial => 'spree/shared/search' %>
						</div>
					</div>
				</div>
			</header>
			<!-- Header Ends -->


<hr />