    <%= render :partial => 'spree/shared/nav_bar' %>
    
    
<header id="header" class="group" data-hook>
  
    <div class="group container">
    
    <div class="row" id="logo-headersidebar-container">            
    <div id="logo" class="group">
    	    <a id="textual" href="http://demo.yithemes.com/bazar" title="Sightuary"><%= logo %></a>
            <p id="tagline">Everymedia purification and cultivation</p> 
    	</div>	
    

    <div id="header-sidebar" class="group hidden-phone">                                                     
		<div id="text-image-2" class="widget-1 widget-first widget text-image">
            <div class="text-image" style="text-align:left"><img src="http://demo.yithemes.com/bazar/files/2013/01/widget1.png" alt="" width="36" height="43"></div>
            <h3>ANOTHER WIDGET</h3>
            <p>ADD ICON AND TEXT</p>
        </div>
        

		</div>
        </div>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
