    
    
<header id="header" class="row" data-hook>
      <%= render :partial => 'spree/shared/nav_bar' %>
      <div id="header" class="group margin-bottom">
                
<div class="group container">               
	
    <div class="row" id="logo-headersidebar-container">            
    	
        <!-- START LOGO -->
    	<div id="logo" class="group">
    	    <a id="textual" href="http://demo.yithemes.com/bazar" title="Bazar [SHOP]">
    Bazar <span class="title-highlight">SHOP</span></a>

	<p id="tagline">usable and clean e-commerce theme</p> 
    	</div>
    	<!-- END LOGO -->
    	<div id="header-cart-search">
        <div class="cart-row group">
                                
            <div class="cart-items cart-items-icon">
                <span class="cart-items-number">0</span>
                <span class="cart-items-label">Items</span>
            </div>

            <div class="cart-subtotal">
                                    <span class="cart-subtotal-currency">$</span>
                                <span class="cart-subtotal-integer">0</span>
                <span class="cart-subtotal-decimal">00</span>
                            </div>

                            <div class="widget woocommerce widget_shopping_cart"><div class="border-1 border"><div class="border-2 border"><h2 class="widgettitle">Cart</h2>				<a href="http://demo.yithemes.com/bazar/cart/" class="cart_control" style="display: none;">View Cart</a>
            <a class="cart_control cart_control_empty">Empty Cart</a>
					<div class="cart_wrapper">
		<div class="widget_shopping_cart_content">
<ul class="cart_list product_list_widget ">

	
		<li class="empty">No products in the cart.</li>
		
		<div class="empty-buttons"><a href="http://demo.yithemes.com/bazar/shop/" class="button">Go to the shop</a></div>

	
</ul><!-- end product list -->

</div>			</div>
			
			
			<script type="text/javascript">
			jQuery(document).ready(function($){
				$(document).on('click', '.cart_control', function(e){
					//e.preventDefault();
				});
				
				$(document).on('hover', '.cart_control', function(){
					$(this).next('.cart_wrapper').slideDown();
				}).on('mouseleave', '.cart_control', function(){
					$(this).next('.cart_wrapper').delay(500).slideUp();
				});
				
				
			    $(document).on('mouseenter', '.cart_wrapper', function(){ $(this).stop(true,true).show() })
                $(document).on('mouseleave', '.cart_wrapper', function(){ $(this).delay(500).slideUp() });
			});
			</script>
			</div></div></div>                            </div>
    
        <div class="widget widget_search_mini">
		<form action="http://demo.yithemes.com/bazar/" method="get" class="search_mini">
			<input type="text" name="s" id="search_mini" value="" placeholder="search for products">
			<input type="hidden" name="post_type" value="product">
            <input type="submit" value="" id="mini-search-submit">
		</form>

</div>    </div>	<!-- START HEADER SIDEBAR -->
	<div id="header-sidebar" class="group hidden-phone">                                                     
		<div id="text-image-2" class="widget-1 widget-first widget text-image"><div class="text-image" style="text-align:left"><img src="http://demo.yithemes.com/bazar/files/2013/01/widget1.png" alt="" width="36" height="43"></div><h3>ANOTHER WIDGET</h3>
<p>ADD ICON AND TEXT</p></div><div id="text-image-3" class="widget-2 widget text-image"><div class="text-image" style="text-align:left"><img src="http://demo.yithemes.com/bazar/files/2013/01/widget221.png" alt="" width="16" height="43"></div><h3>CUSTOMER SUPPORT</h3>
<p>+ 39 097 372659</p></div><div id="text-2" class="widget-3 widget-last widget widget_text">			<div class="textwidget">LOVE IS SHARING &nbsp; &nbsp; &nbsp;
<div class="socials-default-small facebook-small default">
<a href="# " class="socials-default-small default facebook">facebook</a>
</div>

<div class="socials-default-small rss-small default">
<a href="#" class="socials-default-small default rss">rss</a>
</div>

<div class="socials-default-small twitter-small default">
<a href="#" class="socials-default-small default twitter">twitter</a>
</div>

<div class="socials-default-small google-small default">
<a href="#" class="socials-default-small default google">google</a>
</div>

<div class="socials-default-small linkedin-small default">
<a href="#" class="socials-default-small default linkedin">linkedin</a>
</div>

<div class="socials-default-small pinterest-small default">
<a href="#" class="socials-default-small default pinterest">pinterest</a>
</div>
</div>
		</div>	</div> 
           
    </div>
</div>       
    	
<div id="nav">
    <div class="container"><div class="menu-responsive group"><div class="navigate-text">NAVIGATE TO...</div><div class="menu-arrow"></div><ul id="menu-menu" class="level-1"><li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item dropdown menu-item-children-9"><a href="http://demo.yithemes.com/bazar/" style="padding-right: 31px; ">HOME<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-ii/">- Home II</a></li>
	<li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-iii/">- Home III</a></li>
	<li id="menu-item-699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-iv/">- Home IV</a></li>
	<li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-v/">- Home V</a></li>
	<li id="menu-item-725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-vi/">- Home VI</a></li>
	<li id="menu-item-734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-vii/">- Home VII</a></li>
	<li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-viii/">- Home VIII</a></li>
	<li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-ix/">- Home IX</a></li>
	<li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-x/">- Home X</a></li>
</ul>
</li>
<li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-8"><a href="#" style="padding-right: 31px; ">SLIDERS<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-647" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/revolution/">- Revolution</a></li>
	<li id="menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flexslider/">- Flexslider Classic</a></li>
	<li id="menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flexslider-elegant/">- Flexslider Elegant</a></li>
	<li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/polaroid/">- Polaroid</a></li>
	<li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/rotating/">- Rotating</a></li>
	<li id="menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flash/">- Flash</a></li>
	<li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/elastic/">- Elastic</a></li>
	<li id="menu-item-588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/thumbnails/">- Thumbnails</a></li>
</ul>
</li>
<li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/">SHOP</a></li>
<li id="menu-item-402" class="megamenu menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-children-4"><a href="http://demo.yithemes.com/bazar/shop/" style="padding-right: 31px; ">SHOP BY<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-5"><a href="#" style="padding-right: 16px; ">- BRANDS<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">- - Adedash</a></li>
		<li id="menu-item-408" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">- - Avana</a></li>
		<li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">- - Morricone</a></li>
		<li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">- - Nillan</a></li>
		<li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">- - Portofino</a></li>
	</ul>
</li>
	<li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-4"><a href="#" style="padding-right: 16px; ">- CATEGORY<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-425" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/bag/">- - Bag</a></li>
		<li id="menu-item-428" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/clothes/">- - Clothes</a></li>
		<li id="menu-item-426" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/glasses/">- - Glasses</a></li>
		<li id="menu-item-427" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/shoes/">- - Shoes</a></li>
	</ul>
</li>
	<li id="menu-item-405" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-5"><a href="#" style="padding-right: 16px; ">- PRICE<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=200&amp;min_price=100">- - 100 – 200 $</a></li>
		<li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=400&amp;min_price=200">- - 200 – 400 $</a></li>
		<li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=600&amp;min_price=400">- - 400 – 600 $</a></li>
		<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=800&amp;min_price=600">- - 600 – 800 $</a></li>
		<li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=andup&amp;min_price=800">- - 800 $ and up</a></li>
	</ul>
</li>
	<li id="menu-item-406" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0 menu-item-custom-content"><a href="#">- FEATURED</a><a class="custom-item-406 custom-item-yitimage custom-item-image" href="#">- <img src="http://demo.yithemes.com/bazar/files/2013/05/scarpe.png" alt="FEATURED"></a><p class="custom-item-406 custom-item-yitcontent custom-item-textarea"><span class="highlight">BLUE SHOES</span><br>
47.00 $</p></li>
</ul>
</li>
<li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-6"><a href="#" style="padding-right: 31px; ">PAGES<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/services/">- Services</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-13"><a href="#" style="padding-right: 16px; ">- Portfolio<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/simply/">- - Simply</a></li>
		<li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/fancy/">- - Fancy</a></li>
		<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/thumbs/">- - Thumbs</a></li>
		<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/pinterest/">- - Pinterest</a></li>
		<li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/slide-detail/">- - Slide detail</a></li>
		<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/filterable/">- - Filterable</a></li>
		<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/2-columns/">- - 2 Columns</a></li>
		<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/3-columns/">- - 3 Columns</a></li>
		<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/4-columns/">- - 4 Columns</a></li>
		<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/big-image/">- - Big image</a></li>
		<li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/slider/">- - Slider</a></li>
		<li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/project-detail-1/">- - Project detail #1</a></li>
		<li id="menu-item-378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/project-detail-2/">- - Project detail #2</a></li>
	</ul>
</li>
	<li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-2"><a href="#" style="padding-right: 16px; ">- About<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/about/professional/">- - Professional</a></li>
		<li id="menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/u-square-style/">- - U-Square Style</a></li>
	</ul>
</li>
	<li id="menu-item-576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/error-404">- Error 404</a></li>
	<li id="menu-item-594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/wishlist/">- Wishlist</a></li>
	<li id="menu-item-597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sitemap/">- Sitemap</a></li>
</ul>
</li>
<li id="menu-item-598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/testimonials/">TESTIMONIALS</a></li>
<li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-8"><a href="#" style="padding-right: 31px; ">BLOG<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/bazar/">- Bazar</a></li>
	<li id="menu-item-1016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/sphera/">- Sphera</a></li>
	<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/big-ribbon/">- Big Ribbon</a></li>
	<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/big-thumbnails/">- Big Thumbnails</a></li>
	<li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/elegant/">- Elegant</a></li>
	<li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/pinterest/">- Pinterest</a></li>
	<li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/small-ribbon/">- Small Ribbon</a></li>
	<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/small-thumbnails/">- Small Thumbnails</a></li>
</ul>
</li>
<li id="menu-item-831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/faqs/">FAQ</a></li>
<li id="menu-item-836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/contact/">CONTACT</a></li>
<li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-children-8"><a href="http://demo.yithemes.com/bazar/shortcodes/" style="padding-right: 31px; ">SHORTCODES<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/alert-box-buttons/">- Alert box &amp; Buttons</a></li>
	<li id="menu-item-986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/charts/">- Charts</a></li>
	<li id="menu-item-987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/icon-section/">- Icon section</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/media-widgets/">- Media &amp; Widgets</a></li>
	<li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/mix-various/">- Mix &amp; Various</a></li>
	<li id="menu-item-990" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/shop-shortcode/">- Shop shortcode</a></li>
	<li id="menu-item-991" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/table-box-prices/">- Table &amp; Box prices</a></li>
	<li id="menu-item-992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/typography/">- Typography</a></li>
</ul>
</li>
<li id="menu-item-995" class="hidden-tablet menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/features/">FEATURES</a></li>
</ul></div>
    	
                        <ul id="menu-menu" class="level-1"><li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item dropdown menu-item-children-9"><a href="http://demo.yithemes.com/bazar/" style="padding-right: 31px; ">HOME<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-ii/">Home II</a></li>
	<li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-iii/">Home III</a></li>
	<li id="menu-item-699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-iv/">Home IV</a></li>
	<li id="menu-item-713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-v/">Home V</a></li>
	<li id="menu-item-725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-vi/">Home VI</a></li>
	<li id="menu-item-734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-vii/">Home VII</a></li>
	<li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-viii/">Home VIII</a></li>
	<li id="menu-item-712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-ix/">Home IX</a></li>
	<li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/home/home-x/">Home X</a></li>
</ul>
</li>
<li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-8"><a href="#" style="padding-right: 31px; ">SLIDERS<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-647" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/revolution/">Revolution</a></li>
	<li id="menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flexslider/">Flexslider Classic</a></li>
	<li id="menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flexslider-elegant/">Flexslider Elegant</a></li>
	<li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/polaroid/">Polaroid</a></li>
	<li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/rotating/">Rotating</a></li>
	<li id="menu-item-581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/flash/">Flash</a></li>
	<li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/elastic/">Elastic</a></li>
	<li id="menu-item-588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/thumbnails/">Thumbnails</a></li>
</ul>
</li>
<li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/">SHOP</a></li>
<li id="menu-item-402" class="megamenu menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-children-4"><a href="http://demo.yithemes.com/bazar/shop/" style="padding-right: 31px; ">SHOP BY<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-5"><a href="#" style="padding-right: 16px; ">BRANDS<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">Adedash</a></li>
		<li id="menu-item-408" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">Avana</a></li>
		<li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">Morricone</a></li>
		<li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">Nillan</a></li>
		<li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="#">Portofino</a></li>
	</ul>
</li>
	<li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-4"><a href="#" style="padding-right: 16px; ">CATEGORY<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-425" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/bag/">Bag</a></li>
		<li id="menu-item-428" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/clothes/">Clothes</a></li>
		<li id="menu-item-426" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/glasses/">Glasses</a></li>
		<li id="menu-item-427" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-children-0"><a href="http://demo.yithemes.com/bazar/product-category/shoes/">Shoes</a></li>
	</ul>
</li>
	<li id="menu-item-405" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-5"><a href="#" style="padding-right: 16px; ">PRICE<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
		<li id="menu-item-412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=200&amp;min_price=100">100 – 200 $</a></li>
		<li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=400&amp;min_price=200">200 – 400 $</a></li>
		<li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=600&amp;min_price=400">400 – 600 $</a></li>
		<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=800&amp;min_price=600">600 – 800 $</a></li>
		<li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shop/?max_price=andup&amp;min_price=800">800 $ and up</a></li>
	</ul>
</li>
	<li id="menu-item-406" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0 menu-item-custom-content"><a href="#">FEATURED</a><a class="custom-item-406 custom-item-yitimage custom-item-image" href="#"><img src="http://demo.yithemes.com/bazar/files/2013/05/scarpe.png" alt="FEATURED"></a><p class="custom-item-406 custom-item-yitcontent custom-item-textarea"><span class="highlight">BLUE SHOES</span><br>
47.00 $</p></li>
</ul>
</li>
<li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-6"><a href="#" style="padding-right: 31px; ">PAGES<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/services/">Services</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-13"><a href="#" style="padding-right: 16px; ">Portfolio<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu" style="display: none; ">
		<li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/simply/">Simply</a></li>
		<li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/fancy/">Fancy</a></li>
		<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/thumbs/">Thumbs</a></li>
		<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/pinterest/">Pinterest</a></li>
		<li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/slide-detail/">Slide detail</a></li>
		<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/filterable/">Filterable</a></li>
		<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/2-columns/">2 Columns</a></li>
		<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/3-columns/">3 Columns</a></li>
		<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/4-columns/">4 Columns</a></li>
		<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/big-image/">Big image</a></li>
		<li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/slider/">Slider</a></li>
		<li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/project-detail-1/">Project detail #1</a></li>
		<li id="menu-item-378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/portfolio/project-detail-2/">Project detail #2</a></li>
	</ul>
</li>
	<li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-2"><a href="#" style="padding-right: 16px; ">About<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu" style="display: none; ">
		<li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/about/professional/">Professional</a></li>
		<li id="menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sliders/u-square-style/">U-Square Style</a></li>
	</ul>
</li>
	<li id="menu-item-576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-children-0"><a href="http://demo.yithemes.com/bazar/error-404">Error 404</a></li>
	<li id="menu-item-594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/wishlist/">Wishlist</a></li>
	<li id="menu-item-597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/sitemap/">Sitemap</a></li>
</ul>
</li>
<li id="menu-item-598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/testimonials/">TESTIMONIALS</a></li>
<li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom dropdown menu-item-children-8"><a href="#" style="padding-right: 31px; ">BLOG<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/bazar/">Bazar</a></li>
	<li id="menu-item-1016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/sphera/">Sphera</a></li>
	<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/big-ribbon/">Big Ribbon</a></li>
	<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/big-thumbnails/">Big Thumbnails</a></li>
	<li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/elegant/">Elegant</a></li>
	<li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/pinterest/">Pinterest</a></li>
	<li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/small-ribbon/">Small Ribbon</a></li>
	<li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/blog/small-thumbnails/">Small Thumbnails</a></li>
</ul>
</li>
<li id="menu-item-831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/faqs/">FAQ</a></li>
<li id="menu-item-836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/contact/">CONTACT</a></li>
<li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-children-8"><a href="http://demo.yithemes.com/bazar/shortcodes/" style="padding-right: 31px; ">SHORTCODES<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; ">
	<li id="menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/alert-box-buttons/">Alert box &amp; Buttons</a></li>
	<li id="menu-item-986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/charts/">Charts</a></li>
	<li id="menu-item-987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/icon-section/">Icon section</a></li>
	<li id="menu-item-988" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/media-widgets/">Media &amp; Widgets</a></li>
	<li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/mix-various/">Mix &amp; Various</a></li>
	<li id="menu-item-990" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/shop-shortcode/">Shop shortcode</a></li>
	<li id="menu-item-991" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/table-box-prices/">Table &amp; Box prices</a></li>
	<li id="menu-item-992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/shortcodes/typography/">Typography</a></li>
</ul>
</li>
<li id="menu-item-995" class="hidden-tablet menu-item menu-item-type-post_type menu-item-object-page menu-item-children-0"><a href="http://demo.yithemes.com/bazar/features/">FEATURES</a></li>
</ul>        </div>
	<div class="border borderstrong borderpadding container"></div>
	<div class="border container"></div>
	<div class="border container"></div>
	<div class="border container"></div>
</div>

            </div>
      <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
