<nav id="top-nav-bar" class="">

              <div class="textwidget">Get Social &nbsp; &nbsp; &nbsp;
        <div class="socials-default-small facebook-small default">
        <a href="# " class="socials-default-small default facebook"><i class="icon-facebook"></i></a>
        </div>

        <div class="socials-default-small twitter-small default">
        <a href="#" class="socials-default-small default twitter"><i class="icon-twitter"></i></a>
        </div>

        <div class="socials-default-small linkedin-small default">
        <a href="#" class="socials-default-small default linkedin"><i class="icon-linkedin"></i></a>
        </div>

        <div class="socials-default-small pinterest-small default">
        <a href="#" class="socials-default-small default pinterest"><i class="icon-pinterest"></i></a>
        </div>
    </div>



  <ul id="nav-bar" class="inline" data-hook>
    <% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
  </ul>
</nav>
