  <div id="shopby">
    <div class="container">
    <%= render 'shopby' %>
    </div>
  </div>
<div class="row">
    <div id="welcome-message">
        <div class="container">
        <h1>Welcome to our amazing store!
      <br>
      Choose <a href="/products">anything</a> you wish, we’ll ship it <a href="/products">anywhere!</a>
    </h1>
        </div>
    </div>
</div>
<hr />
<% if @slider_products %>
  <div id="home-slider" class="row">
      </div>
<% end %>
<hr />

<div class="row">
    <div id="promotions">
        <div class="span4">
            <div class="">
                <%= image_tag('store/sightuary_newarrivals_.jpg', :alt => 'promo') %>
            </div>
        </div>
        <div class="span4">
            <div class="">
                <%= image_tag('store/sightuary_free_shipping.png', :alt => 'promo') %>
            </div>
        </div>
    </div>
</div>

<div data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>

